<div class="job_select_area">
        <input type="radio" name="job" value="beauti" checked id="beauti" />
        <label for="beauti" class="radio">美容師の方</label>
        <input type="radio" name="job" value="beauti" checked id="beauti2" />
        <label for="beauti2" class="radio">介護士の方</label>
    </div>
    <div class="input_box">
        <div class="input_title">メールアドレス</div>
        <input class="input_area" type="text" name="" value="例：）example@co.jp">
    </div>
    <div class="input_box">
        <div class="input_title">パスワード</div>
        <input class="input_area" type="text" name="" value="0000">
    </div>
    <div class="submit_wrap">
        <input class="entry_submit" type="submit" value="送信">
    </div>
    </div>