<div class="search_btn_wrap">
        <div class="search_btn_area">
            <div class="search_btn">3月24日</div>
            <div class="search_btn">東京都</div>
            <div class="search_btn">¥2,000~</div>
        </div>
    </div>
    <div class="search_area">
        <div class="search_card">
            <div class="search_card_box1">
                <div class="search_store_date">3月24日(日)16:00〜18:00</div>
                <div class="search_card_box2">
                    <div class="search_card_box21">
                        <div class="search_store_name">しまナーシングホーム白金</div>
                        <div class="search_store_access">白金駅から5分</div>
                    </div>
                    <div class="search_card_box22">
                        <div class="search_store_pic">
                            <img class="img" src="img/kaigo2.jpeg" alt="">
                        </div>
                    </div>
                </div>
                <div class="search_comment">どんな時もコミュニケーションを楽しめる方にお願いしたいです。</div>
                
                <div class="search_card_box3">
                    <div class="search_card_box31">
                        <div class="en_mark">¥</div>
                        <div class="search_price">¥2,000</div>
                        <div class="search_price">×</div>
                        <div class="search_price">6人</div>
                        <div class="search_price">=</div>
                        <div class="search_price">¥120,000</div>
                    </div>
                    <div class="search_submit">応募する</div>
                </div>
            </div>
        </div>
        <div class="search_card">
            <div class="search_card_box1">
                <div class="search_store_date">3月24日(日)16:00〜18:00</div>
                <div class="search_card_box2">
                    <div class="search_card_box21">
                        <div class="search_store_name">しまナーシングホーム白金</div>
                        <div class="search_store_access">白金駅から5分</div>
                    </div>
                    <div class="search_card_box22">
                        <div class="search_store_pic">
                            <img class="img" src="img/kaigo2.jpeg" alt="">
                        </div>
                    </div>
                </div>
                <div class="search_comment">どんな時もコミュニケーションを楽しめる方にお願いしたいです。</div>
                
                <div class="search_card_box3">
                    <div class="search_card_box31">
                        <div class="en_mark">¥</div>
                        <div class="search_price">¥2,000</div>
                        <div class="search_price">×</div>
                        <div class="search_price">6人</div>
                        <div class="search_price">=</div>
                        <div class="search_price">¥120,000</div>
                    </div>
                    <div class="search_submit">応募する</div>
                </div>
            </div>
        </div>
        <div class="search_card">
            <div class="search_card_box1">
                <div class="search_store_date">3月24日(日)16:00〜18:00</div>
                <div class="search_card_box2">
                    <div class="search_card_box21">
                        <div class="search_store_name">しまナーシングホーム白金</div>
                        <div class="search_store_access">白金駅から5分</div>
                    </div>
                    <div class="search_card_box22">
                        <div class="search_store_pic">
                            <img class="img" src="img/kaigo2.jpeg" alt="">
                        </div>
                    </div>
                </div>
                <div class="search_comment">どんな時もコミュニケーションを楽しめる方にお願いしたいです。</div>
                <div class="search_card_box3">
                    <div class="search_card_box31">
                        <div class="en_mark">¥</div>
                        <div class="search_price">¥2,000</div>
                        <div class="search_price">×</div>
                        <div class="search_price">6人</div>
                        <div class="search_price">=</div>
                        <div class="search_price">¥120,000</div>
                    </div>
                    <div class="search_submit">応募する</div>
                </div>
            </div>
        </div>

    </div>
