<div class="content">
        <div class="signup_logo">キッテ！</div>
        <div class="signup_btn_wrap">
            <div class="signup_btn">美容師として登録</div>
            <div class="signup_btn">介護士として登録</div>
            <div class="signup_btn2">ログイン</div>
        </div>
    </div>